# book stuff
wheel
git+https://github.com/ebridge2/jupyter-book@master
ghp-import
setuptools>=61.0.0
jupyterbook_latex
sphinx-jupyterbook-latex
sphinx-proof
jinja2==3.0.3
myst_nb
latex
typing-extensions
nibabel
boto3
torch
torch_geometric
torch_sparse
torch_scatter
rdkit
cairosvg
seaborn==0.11.2

# data science python stack
numpy
scipy >= 1.6.0
scikit-learn >= 0.23.0
matplotlib >= 3.4.1
pandas
seaborn
